@charset "utf-8";


footer {
    background-color: #f2f2f2;
    padding: 5%;
  }
 
a:link {
    color: rgb(54, 54, 54);
    text-decoration: none;
}
a.menuLink {
color: #9e9d9c;
}
a.menuLink:link {
    color: #9e9d9c;
}
a.menuLink:visited {
    color: #9e9d9c;
}
a:visited {
    color: rgb(54, 54, 54) ;
}
a, a:hover {
   text-decoration: none;
   color: black;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}



a.menuLink {
    color: #9c9e9c;
    line-height: 52px;
    padding: 10px 15px;
}
a.menuLink:hover {
    color: white;
} 
 

div.thumbnail {
    padding: 0%;
}
div.thumbnail:hover {
    box-shadow: 0 0 0.7em black;
}
div.hovering:hover {
-webkit-box-shadow: 0px 0px 61px -33px rgb(106, 106, 107);
-moz-box-shadow: 0px 0px 61px -33px rgba(106, 106, 107);
box-shadow: 0px 0px 61px -33px rgba(106, 106, 107);
border-radius: 10px 10px 10px 10px;
background-color: rgb(231, 231, 231);
} 

ul.breadcrumb {
    padding: 0px 16px;
    list-style: none;
    background-color: white;
    text-align: center;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 15px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: green;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: greenyellow;
  }

/*------MAX-WIDTH 768-----*/
@media screen and (max-width: 768px) {
    a.menuLink {
        color: white;
        line-height: 52px;
        padding: 10px 15px;
      }
      a.menuLink:hover {
        color: white;
      }
    .dropdown-content:hover { 
        display: none;
    }
        
    .dropdown {
            position: relative;
            display: inline-block;
     }
          
    .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
    }
          
    .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
    }
         
    a.menuLink:hover {
            color: white;
    }
    .dropdown-content a:hover {
            background-color: #f1f1f1;
    }
        
       
    
}
@media screen and (min-width: 768px) {
    .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown:hover .dropdown-content  { 
        display: block;
    }  
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
     
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      a.menuLink:hover {
        color: white;
      }
      .dropdown-content a:hover {
          background-color: #f1f1f1
    }

}
    
    
/*.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  a.menuLink {
    color: #9c9e9c;
    line-height: 52px;
    padding: 10px 15px;
  }
  a.menuLink:hover {
    color: white;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  */